<%- include('../includes/head.ejs') %>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>
        <div class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <img src="<%= product.imageUrl %>" alt="image">
            <hr>
            <p><%= product.description %></p>
            <form action="/cart" method="POST">
                <button type="submit" class="btn">Add to Cart</button>
            </form>
        </div>
        <%- include('../includes/end.ejs') %>